name: Deploy Master App to Kubernetes

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v3

    - name: Login to Docker Hub
      uses: docker/login-action@v2
      with:
        username: ${{ secrets.DOCKERHUB_USERNAME }}
        password: ${{ secrets.DOCKERHUB_TOKEN }}

    - name: Build and Push Docker Image
      run: |
        docker build -t ayzaz/master-app:latest .
        docker push ayzaz/master-app:latest

    - name: Setup kubectl
      run: |
        mkdir -p ~/.kube
        echo "${{ secrets.KUBECONFIG_DATA }}" > ~/.kube/config

    - name: Apply Deployment
      run: |
        kubectl set image deployment/master-app master-app=ayzaz/master-app:latest
        kubectl rollout restart deployment master-app
        kubectl rollout status deployment master-app
